<div class="row">
  <div class="col">
    <h4>Configuration Manager Database Settings</h4>
  </div>
</div>
<div class="row mb-2">
  <div class="col">
    <kendo-textbox-container floatingLabel="Database Server Name">
      <input kendoTextBox [(ngModel)]="cm.dbServerName.value" />
    </kendo-textbox-container>
  </div>
  <div class="col">
    <kendo-textbox-container floatingLabel="Site Server Name">
      <input kendoTextBox [(ngModel)]="cm.siteServerName.value" />
    </kendo-textbox-container>
  </div>
</div>
<div class="row mb-2">
  <div class="col">
    <kendo-textbox-container floatingLabel="Database Name">
      <input kendoTextBox [(ngModel)]="cm.dbName.value" />
    </kendo-textbox-container>
  </div>
  <div class="col">
    <div>
      <small>Windows Authentication</small>
    </div>
    <div>
      <kendo-switch #cmDbUseWinAuth [(ngModel)]="cm.dbUseNtAuth.value" [onLabel]="'Yes'" [offLabel]="'No'"></kendo-switch>
    </div>
  </div>
</div>
<div class="row mb-2" *ngIf="!cm.dbUseNtAuth.value">
  <div class="col">
    <kendo-textbox-container floatingLabel="SQL Username">
      <input kendoTextBox [(ngModel)]="cm.dbSqlUsername.value" />
    </kendo-textbox-container>
  </div>
  <div class="col">
    <kendo-textbox-container floatingLabel="SQL Password">
      <input kendoTextBox type="password" [(ngModel)]="cm.dbSqlPassword.value" />
    </kendo-textbox-container>
  </div>
</div>
<div class="row mt-2">
  <div class="col">
    <h4>Control Center Database Settings</h4>
  </div>
</div>
<div class="row mb-2">
  <div class="col">
    <kendo-textbox-container floatingLabel="Database Server Name">
      <input kendoTextBox [(ngModel)]="cc.dbServerName.value" />
    </kendo-textbox-container>
  </div>
</div>
<div class="row mb-2">
  <div class="col">
    <kendo-textbox-container floatingLabel="Database Name">
      <input kendoTextBox [(ngModel)]="cc.dbName.value" />
    </kendo-textbox-container>
  </div>
  <div class="col">
    <div>
      <small>Windows Authentication</small>
    </div>
    <div>
      <kendo-switch #cmDbUseWinAuth [(ngModel)]="cc.dbUseNtAuth.value" [onLabel]="'Yes'" [offLabel]="'No'"></kendo-switch>
    </div>
  </div>
</div>
<div class="row mb-2" *ngIf="!cc.dbUseNtAuth.value">
  <div class="col">
    <kendo-textbox-container floatingLabel="SQL Username">
      <input kendoTextBox [(ngModel)]="cc.dbSqlUsername.value" />
    </kendo-textbox-container>
  </div>
  <div class="col">
    <kendo-textbox-container floatingLabel="SQL Password">
      <input kendoTextBox type="password" [(ngModel)]="cc.dbSqlPassword.value" />
    </kendo-textbox-container>
  </div>
</div>

