<div class="row">
  <div class="col">
    <h6>Platform Service Account</h6>
  </div>
</div>
<div class="row mb-2">
  <div class="col">
    <div>
      <small>Use Application Pool</small>
    </div>
    <div>
      <kendo-switch [(ngModel)]="platform.useAppPool" [onLabel]="'Yes'" [offLabel]="'No'"></kendo-switch>
    </div>
  </div>
  <div class="col" *ngIf="!platform.useAppPool">
    <app-user-picker [(username)]="platform.platformUsername"></app-user-picker>
  </div>
  <div class="col" *ngIf="!platform.useAppPool">
    <app-validated-password [username]="platform.platformUsername" [(password)]="platform.platformPassword"></app-validated-password>
  </div>
</div>
<div class="row mb-2">
  <div class="col">
    <h6>Remote Manage Service Account</h6>
  </div>
</div>
<div class="row mb-2">
  <div class="col">
    <div>
      <small>Use Platform Account</small>
    </div>
    <div>
      <kendo-switch [(ngModel)]="platform.rmUsePlatformAccount" [onLabel]="'Yes'" [offLabel]="'No'"></kendo-switch>
    </div>
  </div>

  <div class="col" *ngIf="!platform.rmUsePlatformAccount">
    <app-user-picker [(username)]="platform.rmUsername"></app-user-picker>
  </div>
  <div class="col" *ngIf="!platform.rmUsePlatformAccount">
    <app-validated-password [username]="platform.rmUsername" [(password)]="platform.rmPassword"></app-validated-password>
  </div>

</div>
<div class="row mb-2">
  <div class="col">
    <h6>Active Directory Service Account</h6>
  </div>
</div>
<div class="row mb-2">
  <div class="col">
    <div>
      <small>Use Platform Account</small>
    </div>
    <div>
      <kendo-switch [(ngModel)]="platform.adUsePlatformAccount" [onLabel]="'Yes'" [offLabel]="'No'"></kendo-switch>
    </div>
  </div>
  <div class="col" *ngIf="!platform.adUsePlatformAccount">
    <app-user-picker [(username)]="platform.adUsername"></app-user-picker>
  </div>
  <div class="col" *ngIf="!platform.adUsePlatformAccount">
    <app-validated-password [username]="platform.adUsername" [(password)]="platform.adPassword"></app-validated-password>
  </div>
</div>
<div class="row mb-2">
  <div class="col">
    <kendo-textbox-container floatingLabel="Search Root">
      <input kendoTextBox [(ngModel)]="platform.adRoot" />
    </kendo-textbox-container>
  </div>
</div>
<div class="row mb-2">
  <div class="col">
    <h6>Configuration Manager Service Account</h6>
  </div>
</div>
<div class="row mb-2">
  <div class="col">
    <div>
      <small>Use Platform Account</small>
    </div>
    <div>
      <kendo-switch [(ngModel)]="platform.cmUsePlatformAccount" [onLabel]="'Yes'" [offLabel]="'No'"></kendo-switch>
    </div>
  </div>

  <div class="col" *ngIf="!platform.cmUsePlatformAccount">
    <app-user-picker [(username)]="platform.cmUsername"></app-user-picker>
  </div>
  <div class="col" *ngIf="!platform.cmUsePlatformAccount">
    <app-validated-password [username]="platform.cmUsername" [(password)]="platform.cmPassword"></app-validated-password>
  </div>

</div>

