<div class="row">
  <div class="col">

    <div>
      <p>
        <strong>CIRESON</strong>
      </p>
      <div>
        <p>
          <strong>End User License Agreement</strong>
        </p>
        <p>
          <strong>v3.0</strong>
        </p>
      </div>
      <p>Please read the following terms and conditions carefully as they describe your right to use the Software. By clicking
        accept and using the Software, you accept these terms and conditions and enter into a legally binding agreement (
        <strong>
          <em>Agreement</em>
        </strong>) with Cireson, LLC, and its subsidiaries (
        <strong>
          <em>Cireson</em>
        </strong>,
        <strong>
          <em>us,</em>
        </strong>
        <strong>
          <em>our</em>
        </strong> or
        <strong>
          <em>we</em>
        </strong>) on behalf of yourself and your organization (the
        <strong>
          <em>Licensee</em>
        </strong>). You should review the entire Agreement, including any linked terms, because all of the terms are important and
        together create a contract that applies to and binds you and your organization, if applicable. Defined terms, not
        otherwise defined in this Agreement, shall have the meaning prescribed to them in the
        <a href="http://www.cireson.com/slma">
          <strong>Software License and Maintenance Agreement</strong>
        </a> (
        <strong>
          <em>SLMA</em>
        </strong>).</p>
      <p>If you do not agree with the terms and conditions below, please do not click
        <em>I accept the Terms of the License Agreement</em> and do not access or use the Software.</p>
      <p>
        <strong>1. </strong>
        <strong>Grant of License.</strong> Pursuant to the terms and conditions set forth in this Agreement and the SLMA, Cireson
        hereby grants you a non-exclusive, non-transferable license (
        <strong>
          <em>License</em>
        </strong>) to use the object code version of the Cireson software application (the
        <strong>
          <em>Software</em>
        </strong>) and any accompanying documentation (
        <strong>
          <em>Documentation</em>
        </strong>) on multiple devices. All rights not expressly granted to you hereunder are reserved by Cireson.
        <strong>
          <em>Free Software</em>
        </strong> is Software that Cireson licenses to you at no charge.
        <strong>
          <em>Paid Software</em>
        </strong> is Software that Cireson licenses to you in exchange for License Fees described herein.</p>
      <p>
        <strong>2. </strong>
        <strong>Details and Scope of License.</strong> You may use the Software for your internal business purposes only. As a prerequisite
        to your ability to use the Software as intended, you must have installed the then-current version of the prerequisite
        platform as defined in the Softwares Documentation. The License granted for Paid Software does not extend to any
        parent company, sister company, subsidiary, or affiliate without the payment of an additional fees as determined
        by Cireson.</p>
      <p>&nbsp;</p>
      <p>
        <strong>3. </strong>
        <strong>Restrictions. </strong>You are prohibited from (i) copying or attempting to copy the Software or any portion thereof;
        (ii) translating, decompiling or creating, or attempting to create by reverse engineering or otherwise, the source
        code from the object code the Software; (iii) modifying, adapting, translating, or creating any derivative work from
        the Software; (iv) removing any proprietary notices, labels, or marks on the Software or related materials; (v) assigning,
        sublicensing, renting, transferring, publishing, timesharing or transmitting or providing the Software, or any portion
        thereof, to any third party without written approval from Cireson; or (vi) downloading, using or otherwise accessing
        in any manner the Software if you are a Cireson Competitor, or an officer, director, employee, contractor or agent
        of a Cireson Competitor. For purposes of this Agreement, a
        <strong>
          <em>Cireson Competitor</em>
        </strong> is any entity that licenses or provides any software, product, or service that is competitive with Ciresons Software
        including, without limitation, all Microsoft partners and companies operating in the Service Management, Asset Management,
        Configuration Management and Identity Management markets.</p>
      <p>&nbsp;</p>
      <p>
        <strong>4. </strong>
        <strong>Right to Audit and Inspection. </strong>
      </p>
      <p>a.
        <u>Inspection</u>. Cireson, or its designee, shall have the right, upon at least five (5) business days written notice
        and no more than once per calendar year, to inspect your use of the Software and the related books and records at
        your place of business in order to confirm compliance with the terms and conditions of this Agreement. Cireson shall
        have free and full access thereto for such purposes and shall be permitted to make copies thereof and extracts therefrom.
        All costs related to such inspection shall be borne exclusively by Cireson unless non-compliance with this Agreement
        is discovered in which case you shall be required to reimburse Cireson for all the costs related to such inspection
        including any attorney's fees and other professional fees and travel expenses incurred in connection therewith, in
        addition to such other rights and remedies that Cireson may have.</p>
      <p>b.
        <u>Ciresons Duty of Confidentiality at Inspection</u>. In the event that an inspection of your use of the Software and
        related books and records is made, certain confidential and proprietary business information may necessarily be made
        available to the person or persons conducting such investigation. It is agreed that such confidential and proprietary
        business information shall be retained in confidence by Cireson and shall not be used by Cireson or disclosed to
        any third party without your prior express written permission unless required by law. It is understood and agreed,
        however, that such information may be used in any proceeding based on your non-compliance with the terms and conditions
        of this Agreement.</p>
      <p>c.
        <u>Survival</u>. The rights granted to Cireson pursuant to this Section entitled Right to Audit and Inspection shall
        survive for five (5) years beyond the expiration or termination of this Agreement.</p>
      <p>&nbsp;</p>
      <p>
        <strong>5. </strong>
        <strong>Intellectual Property Rights.</strong> Subject only to the limited rights granted to you in this Agreement, all Intellectual
        Property Rights to the Software and any corrections, enhancements, updates or modifications to the Software shall
        be and remain the sole property of Cireson. For purposes of this Agreement,
        <strong>
          <em>Intellectual Property Rights</em>
        </strong> include all intellectual property rights, whether existing under statute, equity or common law and whether existing
        under intellectual property, unfair competition, trade secret or other laws, including, but not limited to, (i) copyrights,
        trademarks, trade secrets, patents, inventions, innovations, designs, logos, trade dress, moral rights, mask works,
        or rights of publicity or privacy; and (2) any registration, application or right to apply for any registration of
        any of the aforementioned rights, including all renewals, extensions and restorations thereof, now or hereafter in
        force and effect. You shall not, at any time during or after the term of the Agreement, dispute or contest, directly
        or indirectly, Ciresons exclusive right and title to the Software or the validity of any Intellectual Property Rights
        of Cireson related thereto. You agree to execute any documents reasonably requested by Cireson to affect any of the
        above provisions.</p>
      <p>
        <strong>6. </strong>
        <strong>Support and Maintenance.</strong>
      </p>
      <p>&nbsp;</p>
      <p>a.
        <u>Support and Maintenance for Paid Software</u>. Subject to the timely payment of support and maintenance fees invoiced,
        you will be entitled to Support and Maintenance for Paid Software consistent with the then-current
        <a href="http://www.cireson.com/cireson-support-and-maintenance-policy">
          <strong>Support and Maintenance Policy</strong>
        </a>. Cireson shall have the right to modify the Support and Maintenance Policy at any time upon written notice.</p>
      <p>b.
        <u>Support and Maintenance for Free Software</u>. Cireson shall have no obligation to support or maintain Free Software.
        Free Software is provided as-is and with all faults. By entering into this Agreement and using the Free Software,
        you assume all risk.</p>
      <p>
        <strong>7. </strong>
        <strong>Your Representations and Warranties.</strong>
      </p>
      <p>&nbsp;</p>
      <p>a.
        <u>Use of Software</u>. You and your organization are solely responsible for all of your activity and for the accuracy,
        quality, integrity, legality, reliability, appropriateness, and for obtaining ownership rights or right to use of
        all content, data (including personal data) and other information inputted.</p>
      <p>b.
        <u>Compliance with Laws</u>. You shall abide by applicable local, state, federal and international laws, treaties and
        regulations in connection with your use of the Software.</p>
      <p>c.
        <u>Notification of Unauthorized Use</u>. You shall notify Cireson immediately of any unauthorized use of any password
        or other account information or any other known or suspected breach of security or unauthorized use of the Software.</p>
      <p>d.
        <u>Authority</u>. You are authorized to enter into this Agreement and comply with each of its terms and conditions.</p>
      <p>e.
        <u>Non-Disparagement</u>. You agree not to in any way, directly or indirectly, disparage Cireson or the Software to
        third parties, or make or solicit any comments, statements or the like that may be considered to be derogatory or
        harmful to the reputation of Cireson or its Software.</p>
      <p>f.
        <u>Non-Competition</u>. You represent and warrant that you are not employed by or in any way affiliated with a Cireson
        Competitor and that your use of Ciresons Software is for your legitimate business purposes only which are wholly
        unrelated to competition with Ciresons Software, its other products or services.</p>
      <p>&nbsp;</p>
      <p>
        <strong>8. </strong>
        <strong>Limited Warranty.</strong>
      </p>
      <p>a.
        <u>Limited Warranty for Paid Software</u>. Cireson warrants that the Paid Software shall operate in substantial accordance
        with Ciresons Documentation and shall be free from material defects when operated as recommended by Cireson. So long
        as you continue to timely pay support and maintenance fees or Subscription Fees, as applicable, when invoiced, Cireson
        shall promptly correct any errors and non-conformities in the Paid Software, pursuant to the severity levels and
        error resolution process described in the
        <a href="http://www.cireson.com/cireson-support-and-maintenance-policy">
          <strong>Support and Maintenance Policy</strong>
        </a>. In the event of a breach of the foregoing warranty, Cireson shall correct or replace, at no additional charge,
        any part of any Paid Software found to be defective which shall be your sole and exclusive remedy.</p>
      <p>b.
        <u>No Warranty for Free Software</u>. Except to the extent prohibited by your jurisdiction, Cireson makes no warranties,
        conditions, representations, or terms (express or implied) whatsoever as to any matter related to the use of Free
        Software. Free Software is delivered to you as is and with all faults.</p>
      <p>c.
        <u>No Customization Permitted</u>. Any customization or other modification to the Software, other than with the provided
        administrative tools (e.g. changes to the source code) negates any warranty and Cireson shall have no obligation
        to provide you support without the execution of a Services Agreement concerning the provision of professional services
        by Cireson required to support custom instances of the Software and your payment of additional compensation for said
        professional services.</p>
      <p>
        <strong>9. </strong>
        <strong>Disclaimer of Other Warranties.</strong> THE WARRANTIES SET FORTH IN SECTION 8 ABOVE ARE IN LIEU OF, AND THIS AGREEMENT
        EXPRESSLY EXCLUDES (UNLESS OTHERWISE PROHIBITED BY THE LAW OF YOUR STATE OR COUNTRY) ALL OTHER WARRANTIES, EXPRESS
        OR IMPLIED, ORAL OR WRITTEN, INCLUDING, WITHOUT LIMITATION: (a) ANY WARRANTY THAT THE SOFTWARE IS ERROR-FREE, WILL
        OPERATE WITHOUT INTERRUPTION, OR IS COMPATIBLE WITH ALL EQUIPMENT AND SOFTWARE CONFIGURATIONS; (b) ANY AND ALL IMPLIED
        WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NONINFRINGEMENT. IF THE FOREGOING EXCLUSIONS
        FOR IMPLIED WARRANTIES DO NOT APPLY TO YOU ACCORDING TO APPLICABLE LAW, ANY IMPLIED WARRANTIES ARE LIMITED TO 60
        DAYS FROM THE DATE OF DELIVERY OF THE SOFTWARE.</p>
      <p>
        <strong>10. </strong>
        <strong>Limitation of Liability. </strong>CIRESON SHALL NOT BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, OR CONSEQUENTIAL
        DAMAGES, OR LOSS OF PROFITS, REVENUE, DATA, OR USE OR COST OF PROCUREMENT OF SUBSTITUTE GOODS INCURRED BY YOU OR
        ANY THIRD PARTY, WHETHER IN AN ACTION IN CONTRACT OR TORT OR BASED ON A WARRANTY, EVEN IF WE HAVE BEEN ADVISED OF
        THE POSSIBILITY OF SUCH DAMAGES. Notwithstanding any other provision of this Agreement, Cireson shall have no liability
        in connection with or relating to this Agreement, whether in contract, tort or otherwise as to Free Software and
        as to Paid Software, Ciresons liability shall not exceed the amounts actually received by Cireson under this Agreement.</p>
      <p>Cireson assumes no responsibility for the correctness of, performance of, or any resulting incompatibilities with,
        current or future releases of the Software if you have made changes to the software configuration or modifications
        to any supplied or decompiled source code which changes effect the performance of the Software and were made without
        prior notification and written approval by Cireson. Cireson assumes no responsibility for the operation or performance
        of any third-party application.</p>
      <p>
        <strong>11. </strong>
        <strong>Data Collection and Processing.</strong>
      </p>
      <p>&nbsp;</p>
      <p>a.
        <u>Processing Aggregated Data</u>
        <u>.</u> You agree and acknowledge that Cireson will collect a count of the number of End-Users, Analysts, Devices and
        Assets used by your organization. Cireson collects counts in order to better understand its customers and how they
        use the Software across their businesses which assists Cireson with license compliance, product improvement and development.
        Cireson will not share these counts with third parties.</p>
      <p>b.
        <u>Processing Personal Data of Persons within European Union on behalf of Licensees</u>. Cireson may process personal
        data on behalf of Licensee from time to time which may be subject to the European Unions Data Protection Law. The
        type of personal data that may be processed in connection with this Agreement is monitoring data about software and
        license usage such as name, individual identifier, email address, IP address, device data, frequency of log in and
        other usage activities. The categories of data subjects are the Licensees staff.</p>
      <p>c.
        <u>Licensee Obligations</u>. Licensee is in control of the personal data shared with Cireson and can limit the personal
        data shared with Cireson using the Software functionality. If applicable, Licensee shall ensure that the processing
        of personal data as envisaged in this Agreement is conducted in accordance with the Data Protection Law, including
        without limitation, by maintaining all necessary registrations, providing all necessary notices and procuring all
        necessary consents in order for Ciresons processing of personal data to comply with the Data Protection Law.</p>
      <p>
        <strong>Data Protection Law</strong> means as applicable the Data Protection Act 1998, EU Data Protection Directive (95/46/EC),
        Regulation (EU) 2016/679 (the General Data Protection Regulation) or any equivalent or replacement law in the UK,
        the Regulation of Investigatory Powers Act 2000 and the Telecommunications (Lawful Business Practice) (Interception
        of Communications) Regulations 2000 (SI 2000/2699) and the terms
        <strong>data subject</strong>,
        <strong>personal data</strong> and
        <strong>processing</strong> shall have the meaning given in the Data Protection Law.</p>
      <p>
        <strong>12. </strong>
        <strong>Term and Termination.</strong>
      </p>
      <p>a.
        <u>Automatic Termination</u>. Cireson shall have the right to terminate this Agreement upon written notice if you breach
        any of the terms and conditions contained herein.</p>
      <p>b.
        <u>Upon Termination</u>. Upon notice of termination of this Agreement by Cireson, you must cease to use the Software
        and return any Documentation to Cireson.</p>
      <p>
        <strong>13. </strong>
        <strong>General.</strong>
      </p>
      <p>a.
        <u>Force Majeure Event</u>. A
        <strong>
          <em>Force Majeure Event</em>
        </strong> means any act or event, whether foreseen or unforeseen that prevents a party (the
        <strong>
          <em>Nonperforming Party</em>
        </strong>), in whole or in part, from performing its obligations or satisfying any conditions to the Nonperforming Partys
        obligations under this Agreement and is beyond the reasonable control of and not the fault of the Nonperforming Party,
        and the Nonperforming Party has been unable to avoid or overcome by exercise of due diligence. In furtherance of
        the definition of a Force Majeure Event and not in limitation of that definition, each of the following acts or events
        is deemed to meet the criteria of the section and to be a Force Majeure Event: war, flood, lightning, drought, earthquake,
        fire, volcanic eruption, landslide, hurricane, cyclone, typhoon, tornado, explosion, civil disturbance, act of God
        or the public enemy, terrorist act, military action, epidemic, famine or plague, shipwreck, strike, work-to-rule
        action, go-slow, or similar labor difficulty, each on an industry-wide, region-wide or nationwide basis. The Nonperforming
        Party shall not be liable for any loss or delay resulting from any Force Majeure Event and any payment or timeline
        for performance of any services shall be reasonably extended to the extent of any such delay resulting from the Force
        Majeure Event.</p>
      <p>b.
        <u>Binding on Successors and Assigns</u>. The provisions of this Agreement shall be binding upon and inure to the benefit
        of each of the parties and their respective permitted successors and assigns. Nothing expressed or implied in this
        Agreement is intended, or shall be construed, to confer upon or give any person, other than the parties, their successors
        and assigns, any benefits, or rights under or by reason of this Agreement, except to the extent of any contrary provision
        herein contained.</p>
      <p>&nbsp;</p>
      <p>c.
        <u>Assignment</u>. This Agreement and the rights and obligations hereunder shall not be assigned or otherwise transferred
        by you without the prior written consent of Cireson. Cireson may assign or otherwise transfer any of its rights and
        obligations under this Agreement upon written notice.</p>
      <p>&nbsp;</p>
      <p>d.
        <u>Jurisdiction and Disputes</u>. This Agreement, including, but not limited to, its validity, interpretation, construction,
        performance and enforcement, shall be construed in accordance with and governed by the laws of the State of California
        (without giving effect to its conflicts of law principles). Any party bringing a legal action or proceeding against
        the other arising out of or relating to this Agreement, or the transactions it contemplates, shall bring the legal
        action or proceeding in federal or state courts located in San Diego County, California. Each party consents to the
        exclusive jurisdiction of said courts for the purpose of all legal actions and proceedings arising out of or relating
        to this Agreement, or the transactions it contemplates. Each party agrees that the exclusive choice of forum set
        forth in this Section does not prohibit the enforcement of any judgment obtained in that forum or any other appropriate
        forum. Each party waives, to the fullest extent permitted by law, any objection which it may now or later have to
        the venue agreed upon herein, and any claim that any action or proceeding brought in any such court has been brought
        in an inconvenient forum.</p>
      <p>e.
        <u>Notices</u>. Notices required under this Agreement shall be in writing and shall be sent to the partys last known
        address or email address. Notice will be deemed given (1) as of the day following the day notice is deposited with
        a reputable overnight courier (e.g., Federal Express, UPS, etc.) charges prepaid, or as of the day following the
        day of email notice; or (2) as of the third day if the notice is sent certified U.S. Mail, charges prepaid, with
        return receipt requested; or (3) as of the day of delivery if the notice is hand delivered. Notices sent to Cireson
        shall be sent to:</p>
      <p>Matt Deen, Legal Counsel</p>
      <p>Cireson, LLC</p>
      <p>1431 Pacific Coast Highway, Suite H3</p>
      <p>San Diego, CA 92101</p>
      <p>
        <a href="mailto:matt.deen@cireson.com">matt.deen@cireson.com</a>
      </p>
      <p>f.
        <u>Amendment to Agreement</u>. Cireson may modify and update this Agreement from time to time in Ciresons discretion
        and such modifications shall apply to you immediately upon written notice (email notice sufficient).</p>
      <p>g.
        <u>Waiver</u>. No failure or delay in exercising any right or remedy or requiring the satisfaction of any condition,
        and no course of dealing between the parties, shall operate as a waiver or estoppel of any right, remedy or condition
        as against Cireson. A waiver made in writing on one occasion is effective only in that instance and only for that
        purpose that it is given and is not to be construed as a waiver on any future occasion or against any other person.</p>
      <p>h.
        <u>Severability</u>. If any provision of this Agreement is determined to be invalid, illegal or unenforceable, the remaining
        provisions shall remain in full force and effect, if the essential terms and conditions of this Agreement for both
        parties remain valid, legal and enforceable. If any essential provision is held invalid, illegal or unenforceable,
        the parties shall negotiate in good faith to modify this Agreement to fulfill, as closely as possible, the original
        intents and purposes of this Agreement.</p>
      <p>&nbsp;</p>
      <p>i.
        <u>Attorneys Fees</u>. Should it be necessary to institute any action to enforce the terms of this Agreement, the parties
        hereby agree that the substantially prevailing party in any such action shall be entitled to recover its reasonable
        attorneys fees, as well as all costs of the action, including, but not limited to court costs, filing fees, exhibit
        fees, forensic consultant fees, litigation support costs and expert witness fees. Further, recoverable attorney fees
        and costs shall include the costs for such items for any appeals. This paragraph shall remain independent from any
        judgment entered to enforce its terms, shall not merge therewith, and shall entitle the prevailing party to attorneys
        fees and costs incurred in connection with post judgment collection and enforcement efforts.</p>
      <p>[END OF AGREEMENT]</p>
    </div>
  </div>
</div>
<app-nav-bottom [linkNext]="linkNext" [linkPrev]="linkPrev"></app-nav-bottom>

