<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpEndpoint" closeTimeout="00:10:00" sendTimeout="00:10:00"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:50785/DeploymentService.svc"
        binding="wsHttpBinding" bindingConfiguration="wsHttpEndpoint"
        contract="DeploymentService.iDeploymentService" name="wsHttpEndpoint">
        <identity>
          <userPrincipalName value="AzureAD\FlemmingAppelonChris" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
</configuration>