<div class="row">
  <div class="col-md-12">
    <kendo-tabstrip (tabSelect)="onTabSelect($event)">
      <kendo-tabstrip-tab [title]="'Welcome'" [selected]="true">
        <ng-template kendoTabContent>
          <p>
            Welcome message here
          </p>
        </ng-template>
      </kendo-tabstrip-tab>
      <kendo-tabstrip-tab [title]="'Configuration'">
        <ng-template kendoTabContent>
          <div class="row">
            <ul class="nav justify-content-center">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
              </li>
            </ul>
          </div>
          <div class="row">
            <div class="col">
              <p>This is my awesome content.</p>
            </div>
          </div>
        </ng-template>
      </kendo-tabstrip-tab>
      <kendo-tabstrip-tab [title]="'Installation'">
        <ng-template kendoTabContent>
          <p>
            Website settings here
          </p>
        </ng-template>
      </kendo-tabstrip-tab>
      <kendo-tabstrip-tab [title]="'Complete'">
        <ng-template kendoTabContent>
          <p>
            Show completion message with information: version happy picture link to website
          </p>
        </ng-template>
      </kendo-tabstrip-tab>
    </kendo-tabstrip>
  </div>
</div>

