<?xml version="1.0" encoding="utf-8"?>
<Boost>
  <UserSettings>
    <UserName></UserName>
    <Password></Password>
  </UserSettings>
  <Application>
    <EndPointAddress>http://%FQDN%:%DeploymentServicePort%/DeploymentService/</EndPointAddress>
    <Logo>
    </Logo>
  </Application>
</Boost>
