<kendo-tabstrip (tabSelect)="onTabSelect($event)">
  <kendo-tabstrip-tab [title]="'Components'" [selected]="true">
    <ng-template kendoTabContent>
      <app-configuration-components></app-configuration-components>
    </ng-template>
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab [title]="'Databases'">
    <ng-template kendoTabContent>
      <app-configuration-databases></app-configuration-databases>
    </ng-template>
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab [title]="'Platform'">
    <ng-template kendoTabContent>
      <app-configuration-platform></app-configuration-platform>
    </ng-template>
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab [title]="'Website'">
    <ng-template kendoTabContent>
      <app-configuration-website></app-configuration-website>
    </ng-template>
  </kendo-tabstrip-tab>
</kendo-tabstrip>

