<div class="row mb-2">
  <div class="col">
    <h2>{{title}}</h2>
  </div>
</div>
<div class="row mb-2">
  <div class="col">
    <button class="btn btn-primary" (click)="runPrereq()">Install Pre-req</button>
  </div>
  <div class="col">
    <button class="btn btn-primary" (click)="runInstall()">Start Install</button>
  </div>
</div>
<div class="row">
  <!-- <div class="col">
    <kendo-textbox-container class="w-100" floatingLabel="Log Output">
      <textarea kendoTextArea [(ngModel)]="messages" disabled></textarea>
    </kendo-textbox-container>
  </div> -->
  <textarea #logViewer kendoTextArea class="log-output-area bg-dark text-white" [(ngModel)]="messages"></textarea>
</div>