<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="assets/cmp-icon.png" width="30" height="30" alt="" style="border-radius: .25rem">
  </a>
  <ul class="navbar-nav content-justify-center">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/welcome">Welcome</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/license">License</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/configuration">Configuration</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/confirmation">Confirmation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/installation">Installation</a>
    </li>
  </ul>
</nav>