/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap.scss';
@import '~@progress/kendo-theme-bootstrap/scss/all';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  margin-bottom: 59px;
}

.nav .navbar-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}