/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap.scss';
@import '~@progress/kendo-theme-bootstrap/scss/all';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

kendo-tabstrip p {
  margin: 0;
  padding: 8px;
}